<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::body}, ~{::title})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <div class="main-container">
            <div class="main-header anim" style="--delay: 0s">
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>
            <div class="main-blogs">
                <div class="main-blog anim" style="--delay: .1s">
                    <form th:action="@{/login}" method="post">
                        <div class="video-detail">
                            <div class="chat video-content">
                                <div class="video-p-title anim" style="--delay: .2s">
                                    <label for="username">User Name :</label>
                                </div>
                                <div class="chat-footer anim" style="--delay: .1s">
                                    <input placeholder="Write your username" id="username" name="username">
                                </div>
                                <div class="video-p-title anim" style="--delay: .2s">
                                    <label for="password">Password :</label>
                                </div>
                                <div class="chat-footer anim" style="--delay: .1s">
                                    <input placeholder="Write your password" type="password" id="password" name="password">
                                </div>

                                <div><input class="like" type="submit" value="Login"/></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
